<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name_of_place[1] }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawCurrentChart);
      function drawCurrentChart() {
        var currentData = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Empty',     {{ all_data[5] }} ],
          ['Is available',      {{ all_data[6] }}],
        ]);

        var currentOptions = {
          title: '{{ name_of_place[1] }} current availability',
          is3D: true,
        };

        var currentChart = new google.visualization.PieChart(document.getElementById('current_chart'));
        currentChart.draw(currentData, currentOptions);
      }

      google.charts.load("historical", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawHistoricalChart);

      function drawHistoricalChart() {
      var historicalData = new google.visualization.DataTable();
      <!--historicalData.addColumn("datetime", "Date and Time");-->
      historicalData.addColumn("number", "Hour");
      historicalData.addColumn("number", "Available Bikes");
      historicalData.addRows( {{ historical_data }} );

       var historicalOptions = {
          title: 'Historical Occupancy',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var historicalChart = new google.visualization.LineChart(document.getElementById('historical_chart'));
        historicalChart.draw(historicalData, historicalOptions);
      }
    </script>

  </head>
</head>
<body>

    <h1>Dublin Bikes</h1>
    {% if name_of_place %}
        <h1> <span id="name_of_stands"> {{ name_of_place[1] }} </span> </h1>
    {% else %}
        <h1> Invalid place </h1>
    {% endif %}

    <div id="closest_neighbours">
        <a href="/"> home </a>
        <p> Closest stand from <span id="name_of_stands"> {{ name_of_place[1] }} </span> </p>
        <a href="/location?location2={{ neighbours[0][0] }}"> <span id="name_of_stands"> 1 - {{ neighbours[0][1] }} </span></a><br>
        <a href="/location?location2={{ neighbours[1][0] }}"> <span id="name_of_stands"> 2 - {{ neighbours[1][1] }} </span></a><br>
        <a href="/location?location2={{ neighbours[2][0] }}"> <span id="name_of_stands"> 3 - {{ neighbours[2][1] }} </span></a>
    </div>


    <table id="station_table">
         <tr>
            <td>Credit Card Facility</td>
            <td>{{ all_data[0] }}</td>
         </tr>
         <tr>
            <td>Total Stands</td>
            <td>{{ all_data[4] }}</td>
         </tr>
         <tr>
            <td>Stands Available</td>
            <td>{{ all_data[5] }}</td>
         </tr>
        <tr>
            <td>Bikes Available</td>
            <td>{{ all_data[6] }}</td>
        </tr>
    </table>
    <div id="current_chart"></div>
    <div id="historical_chart"></div>
    </script>

</body>
</html>



