<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name_of_place[1] }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawCurrentChart);
      function drawCurrentChart() {
        var currentData = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Empty',     {{ all_data[5] }} ],
          ['Is available',      {{ all_data[6] }}],
        ]);

        var currentOptions = {
          title: '{{ name_of_place[0] }} current availability',
          is3D: true,
        };

        var currentChart = new google.visualization.PieChart(document.getElementById('current_chart'));
        currentChart.draw(currentData, currentOptions);
      }

      google.charts.load("historical", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawHistoricalChart);

      function drawHistoricalChart() {
      var historicalData = new google.visualization.DataTable();
      <!--historicalData.addColumn("datetime", "Date and Time");-->
      historicalData.addColumn("number", "Hour");
      historicalData.addColumn("number", "Available Bikes");
      historicalData.addRows( {{ historical_data }} );

       var historicalOptions = {
          title: 'Historical Occupancy',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var historicalChart = new google.visualization.LineChart(document.getElementById('historical_chart'));
        historicalChart.draw(historicalData, historicalOptions);
      }
    </script>

  </head>
</head>
<body>

    <!--<h1>Dublin bikes</h1>-->
    {% if name_of_place %}
        <h1> {{ name_of_place[1] }} </h1>
    {% else %}
        <h1> Invalid place </h1>
    {% endif %}

    <div id="closest_neighbours">
        <a href="/"> home </a>
        <p> Closest stand from {{ name_of_place[1] }}</p>
        <a href="/location?location2={{ neighbours[0][0] }}">1 - {{ neighbours[0][1] }} </a><br>
        <a href="/location?location2={{ neighbours[1][0] }}">2 - {{ neighbours[1][1] }} </a><br>
        <a href="/location?location2={{ neighbours[2][0] }}">3 - {{ neighbours[2][1] }} </a>
    </div>


    <!--<table id="station_table">-->
    <!--{% for row in all_data%}-->
        <!--<tr>-->
          <!--<td>{{ row }}</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
    <!--</table>-->
    <div id ="chart_container">
    <div id="current_chart"></div>
    <div id="historical_chart"></div>
        </div>
</body>
</html>



