<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name_of_place[0] }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h1>Dublin bikes</h1>
    {% if name_of_place %}
        <h1> {{ name_of_place[0] }} </h1>
    {% else %}
        <h1> Invalid place </h1>
    {% endif %}


    <table id="station_table">
    {% for row in all_data%}
        <tr>
          <td>{{ row }}</td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>

