<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="../static/js/map.js"></script>
</head>

<body>
    <h1>Dublin Bikes</h1>
    <div id="home_map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN7EfuGN0aiw97d-KPFwWCBDF6GJjRDDM&callback=googleMap"></script>
    <form action="" method="get">

        <select name="location">
        {% for item in locations %}
            <option value={{ item[0] }}>{{ item[1] }}</option>
        {% endfor %}
        </select>
        <input type="submit" id="place" value="location"/>
    </form>


</body>
</html>