<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascript" src="../static/js/map.js"></script>
</head>

<body>
    <h1>Dublin Bikes</h1>
    <div id="home_map"></div>
    <script>
        function googleMap()
        {
        var canvas= document.getElementById("home_map");
        var myCenter= new google.maps.LatLng(53.3473,-6.2588)
        var options= {center: myCenter, zoom:13}
        var map= new google.maps.Map(canvas,options);
        var mapLabel=new google.maps.InfoWindow({position: new google.maps.LatLng(53.356, -6.26)});
        {% for item in locations %}
            var myPosition= new google.maps.LatLng({{ item[2] }}, {{ item[3] }})
            var marker = new google.maps.Marker({position: myPosition});
            marker.setMap(map);
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
        {% endfor %}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN7EfuGN0aiw97d-KPFwWCBDF6GJjRDDM&callback=googleMap"></script>
     <form action="location" method="get">

        <select name="location2">
        {% for item in locations %}
            <option value={{ item[0] }}>{{ item[1] }}</option>
        {% endfor %}
        </select>
        <input type="submit" id="place" value="location"/>
    </form>


</body>
</html>