h1{
    color:blue;
    text-align:center;
}
#name_of_stands{
    text-transform: capitalize;
}

#home_map{
    margin: auto;
    width:900px;
    height:375px;
}

#home_button{
    display:none;
}

#weather {
    color: green;
    float: right;
    position: fixed;
    top: 8px;
    right: 8px;
}

#place {
    display: none;
}

#closest_neighbours {
    float: left;
    width:25%
}

#station_table {
    float:left;
    width:25%
}

#current_chart {
    float: left;
    width:25%

}

#historical_chart {
    float: left;
    width:25%;
}
.legend_image{
    height:30px;
    width:30px;
}

