#heading{
    position:relative;
    height:30px;
    background-color: #008CBA;
}
#heading_content{
    position:absolute;
    bottom:2px;
    left: 25px;
    font-family:Calibri;
    font-weight: bold;
    font-size:18px;
    color:white;
}
#home_button{
    position:absolute;
    border-radius: 30px;
    left:25px;
    top:45px;
}
#home_icon{
    height:30px;
}
#info_button{
    position:absolute;
    border-radius:30px;
    left:65px;
    top:45px;
    cursor:pointer;
}
#info_icon{
    height:30px;
}
#info_box{
    font-family:Calibri;
    position:absolute;
    display:none;
    padding:5px;
    top: 90px;
    left: 20px;
    width:500px;
    height:265px;
    border-radius:5px;
    background-color:white;
    z-index:99;
}
h1{
    font-family: Calibri;
    display:inline;
    margin-left: 30px;
}
body, html {
    margin:0;
    height: 100%;
    width: 100%;
    overflow:hidden;
}
#wrapper{
    position:relative;
    height:100%;
    width:100%;
}

#name_of_stands{
    text-transform: capitalize;
}
#home_map{
    width:100%;
    height:97.5%;
}
#location_dropdown{
    position:absolute;
    top: 50px;
    right: 135px;
    z-index: 99;
}
#place {
    display:none;
    border-radius:5px;
    width:205px;
    background-color:#008CBA;
    position:absolute;
    right:0;
    top:35px;
    color:white;
    font-family:Calibri;
    font-weight:bold;
    cursor:pointer;
}
#setopt{
    border-radius: 5px;
    background-color: white;
    color:#555555;
    position:absolute;
    right:0;
    font-family: Calibri;
    font-weight:bold;
}

#stop_info{
    border-radius:5px;
    background-color:white;
    font-family: Calibri;
    color:#555555;
    position: absolute;
    width:205px;
    top: 120px;
    right:135px;
    z-index:2;
}
#stop_info_table{
    width:100%;
    font-size:14px;
}
#stop_info_table th{
    background-color: #555555;
    color:white;
}
#stop_info_table .firstcol{
    text-align:right;
}

#weather {
    position:absolute;
    bottom:2px;
    right: 190px;
    font-family:Calibri;
    font-weight: bold;
    font-size:18px;
    color:white;

}
#weather_icon{
    position:absolute;
    bottom:0;
    height:30px;
    right: 75px;
}
#current_chart {
    padding-top: 15px;
    float: left;
    width:50%;
    height:40%;
}
#char_2 {
    padding-top: 10px;
    float: left;
    width:50%;
    height:40%;
    }
#legend_table{
    font-family: Calibri;
    position: absolute;
    top: 90px;
    left: 20px;
    z-index:2;
    border-radius:10px;
    color: #555555;
    font-weight:bold;
    background-color:white;
    width:150px;
    }
.legend_image{
    height:30px;
    width:30px;
}
#historical_chart_week{
    float: left;
    width: 50%;
    display:none;
}
#location_map{
    margin:0;
    width:100%;
    height:57.5%;
}
#nearby_table{
    position: absolute;
    top: 90px;
    left: 20px;
    background-color:white;
    font-family: Calibri;
    border-radius:10px;
}
#nearby_table th{
    text-align:center;
    background-color:#555555;
    color:white;
}
#info_table{
    position: absolute;
    bottom: 70px;
    left:320px;
    font-family:Calibri;
    font-size:13px;
    background-color:white;
    border: none;
    z-index:99;
}
#info_table th{
    background-color:#008CBA;
    color:white;
}
#info_table .sub_headings{
    font-weight:bold;
    text-align: center;
}

#info_table .first_col_cells{
    text-align: right;
}
#info_table .second_col_cells{
    text-align: center;
    width: 50px;
}
#graph_buttons{
    padding-left: 125px;
}
#daily_button{
    padding:5px;
    font-family: Calibri;
    background-color: #008CBA;
    color:white;
    cursor:pointer;
    border:none;
    }
#weekly_button{
    padding:5px;
    font-family: Calibri;
    background-color: #555555;
    color:white;
    cursor:pointer;
    border:none;
    }
#selected_location{
    font-family: Calibri;
    color:#555555;
    top: 10px;
    left:45%;
    position: absolute;
}
.nearest_neighbour_link{
    background-color: white;
    color: #008CBA;
    width: 50px ;
}